CNPJresults_findStudio 3.txt
analise_impacto_cnpj_refinada.csv
analise_impacto_cnpj_refinada.xlsx
CNPJ 1.csv
analise_descartes.xlsx
analise_sem_classificacao.xlsx
analise_precificacao_proposta.xlsx
analise_sem_classificacao.xlsx
analise_sem_classificacao.xlsx
analise_descartes_oficiais.xlsx
analise_ajustes_criticos.xlsx
~$analise_ajustes_criticos.xlsx
analise_descartes_extracao_simples.xlsx
analise_linhas_ignoradas.txt
analise_resumo_criticos_oficiais.xlsx
analise_descartes_extracao_simples.xlsx
